[flake8]
max-line-length: 90
extend-ignore =
    # E116 Unexpected indentation (comment)
    # E202 Whitespace before ')'
    # E302 Expected 2 blank lines, found 0
    E116, E202, E302

per-file-ignores =
    # E501 Line too long (82 > 79 characters)
    test_pdstemplate.py: E501
